/** Reset */
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1 1 auto;
}

button {
  font-size: inherit;
}

// Reset
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}

/** Utility */
.vw-px300 {
  width: 300px;
}

.vwmx-px300 {
  max-width: 300px;
}

.vwcmx-px500 > * {
  max-width: 500px;
}

@media (max-height: 750px) {
  .jc-spb-on-sm {
    justify-content: space-between;
  }
}

// Scrollbars
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--cb-honey-dark);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--cb-honey-dark);
}

/* Focus */
a:focus,
article:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 1.5px 1.5px var(--cb-focus);
}

.fit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: var(--margin-width-4);
}
